body {
         display: flex;
         justify-content: center;
         align-items: center;
         height: 100vh;
 }
 
h1 { 
		 letter-spacing: 1px;
         text-align: center; 
         margin: 0 0 32px 0; 
		 font-weight: normal;
		 color: #667b14; 		 
 }
 
 .form {
         width: 300px; 
         padding: 32px; 
         border-radius: 10px; 
         box-shadow: 0 4px 16px #660; 
         font-family: sans-serif; 
         letter-spacing: 1px;
 }
 
 .inp {
         position: relative; 
         margin-bottom: 30px;
 }
 
 .pole {
		 padding: 0 0 10px 0;
         border: none; 
         border-bottom: 1px solid #bbc05d; 
         outline: none; 
 }
 
 .nam {
         color: #bbc05d; 
		 width: 35%;
		 margin: 0;
 }
 
 .ok {
         padding: 10px 20px;
         border: none; 
         border-radius: 5px;
         letter-spacing: 1px;
         font-size: 16xp;
         color :#660 ; 
         background-color: rgba(187, 192, 93, 0.6); 
		 outline: none; 
 }
 
 .error {
		 color: #a82b25;
		 font-size: 30;
		 text-align: center;
 }